@model List<Customer>
<h3>Customers</h3>
@if (Model.Count == 0)
{
    <p>No Customer has been created yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subscribed To Newsletter</th>
                <th>Membership Type</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IsSubscribedToNewsletter</td>
                    <td>@item.MembershipType?.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="ViewMovies" asp-route-id="@item.Id">View Movies</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
<a asp-action="Create", class="btn btn-primary">Create Customer</a>